*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body 
{
     min-height: 100vh;
     overflow: hidden;
     align-items: center;
     justify-content: center;
     display: flex;
}
.wrapper
{
    height: 8cm;
    width: 15cm;
    box-shadow: 0px 2px 5px 8px rgba(0,0,0,0.1);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.wrapper header 
{
    font-size: 2em;
    font-weight: bolder;
    font-family: poppins;
    text-align: center;
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
}
.wrapper .name span 
{
    font-weight: bolder;
    font-size: 1.5em;
    font-family: Poppins;
}
.wrapper .email-address span 
{
    font-size: 1.5em;
    font-family: Open Sans;
    margin-top: -55px;
}
.wrapper .phone-number span 
{
    font-size: 1.5em;
    font-family: Open Sans;
    margin-top: -55px;
}
.wrapper button 
{
    position: absolute;
    top:65%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 1cm;
    width: 3.5cm;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
.image-panel 
{
    height: 5cm;
   width: 5cm;
   border-radius: 50%;
   position: absolute;
   top: 62px;
   left: 50%;
   transform: translateX(-50%);
   box-shadow: 0px 2px 5px 6px rgba(0,0,0,0.1);
   background-image: url("https://randomuser.me/api/portraits/med/men/1.jpg");
   background-size: cover;
   background-repeat: no-repeat;
}
p 
{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #000;
    font-weight: bold;
    font-family: Poppins;
}
#Mobile 
{
    display: none;
}
